<div class = "container-sm divcontainer">
    <h2 class="head py-2  alignstyle">Add Food Item</h2>
    <form [formGroup]="saveForm" (ngSubmit)="save()">
        <div class="form-group alignform">
            <div class="row rowstyle">
                <div class="col-sm-12 roundedTextBox mb-3">
                    <input type="text" class="form-control textbox"  id="inputfoodname" formControlName="foodname" placeholder="Enter Foodname">
                    <div *ngIf="submitted || formControl.foodname.touched || formControl.foodname.dirty">
                        <div *ngIf="formControl.foodname.errors" class="text-danger">
                            <div *ngIf="formControl.foodname.errors.required || formControl.foodname.errors.notOnlyWhitespace">Foodname is required.</div>
                            <div *ngIf="formControl.foodname.errors.pattern" >Foodname is invalid.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 roundedTextBox mb-3">
                    <input type="text" class="form-control textbox"  id="inputprice" formControlName="price" placeholder="Enter Food price">
                    <div *ngIf="submitted || formControl.price.touched || formControl.price.dirty">
                        <div *ngIf="formControl.price.errors" class="text-danger">
                            <div *ngIf="formControl.price.errors.required || formControl.price.errors.notOnlyWhitespace">Food price is required.</div>
                            <div *ngIf="formControl.price.errors.pattern">Food price is invalid.</div>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-12 roundedTextBox mb-3">
                    <input type="text" class="form-control textbox"  id="inputimage" formControlName="image" placeholder="Enter Food Imagename">
                    <div *ngIf="submitted || formControl.image.touched || formControl.image.dirty">
                        <div *ngIf="formControl.image.errors" class="text-danger">
                            <div *ngIf="formControl.image.errors.required || formControl.image.errors.notOnlyWhitespace">Food image is required.</div>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-12">
                    <select class="form-control " formControlName="foodstatus">
                        <option value="" selected>--Select a food status--</option> 
                        <option value = "available">Available</option>
                        <option value = "NA">NA</option>
                    </select>
                    <div *ngIf="submitted || formControl.foodstatus.touched">
                        <div *ngIf="formControl.foodstatus.errors" class="text-danger">
                            <div *ngIf="formControl.foodstatus.errors.required">Food status is required.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons text-center">
            <button class="btn btn-secondary btn-customBlue mr-2" type="submit">Add new FoodItem</button>
        </div>
        <br/>
        <div *ngIf="isSaved" class="text-success text-center">`Food item added successfully!!`</div>
    </form>
</div>
